@import "tailwindcss";

/* Keep fonts from next/font */
:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-sans), system-ui, -apple-system, Segoe UI, Roboto, Arial,
    sans-serif;
}
